<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <style>
        .error {
            color: red; 
        }
    </style>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category, message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}
        </ul>
<body>

    <main>
        <nav>
                
            <ul id="user-account">
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

            <a href='/'>Home</a>
            <a href='/blog?sort=newest'>All blog entries</a>
            <a href='/newpost'>Create new entry</a>
        </nav>

    {% block content %}
    
    {% endblock %}
    </main>
</body>
</html>